In [1]:
from sklearn.model_selection import train_test_split
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from catboost import CatBoostClassifier, Pool
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
import pandas as pd

In [2]:
df_indeed_ds = pd.read_csv("indeed_data_scientist_list.csv")
df_linkedin_ds = pd.read_csv("linkedin_data_scientist_list.csv")

In [3]:
df = pd.concat([df_indeed_ds, df_linkedin_ds], axis=0)
df.drop_duplicates(subset=["title", "company", "text"], keep="first", inplace=True)
df.dropna(subset=["text"], inplace=True)
df.reset_index(inplace=True, drop=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 4 columns):
title      487 non-null object
company    487 non-null object
url        487 non-null object
text       487 non-null object
dtypes: object(4)
memory usage: 15.3+ KB

In [5]:
tv = TfidfVectorizer(stop_words='english', max_features=50, ngram_range=(1, 2), token_pattern=u'(?ui)\\b\\w*[a-z]+\\w*\\b', lowercase=False,)

trans = tv.fit_transform(df["text"])

In [10]:
tv = TfidfVectorizer(stop_words='english', max_features=300, ngram_range=(2, 3), lowercase=True)

trans = tv.fit_transform(df["text"])

In [12]:
df_idf = pd.DataFrame(tv.idf_, index=tv.get_feature_names(),columns=["idf_weights"])
 
# sort ascending
df_idf.sort_values(by=['idf_weights'], ascending=False).head(30)

                                idf_weights
business group                     5.110874
skills depth                       4.993091
master data                        4.887730
internal external stakeholders     4.887730
external stakeholders              4.705409
build machine                      4.705409
build machine learning             4.705409
data governance                    4.625366
customer service                   4.625366
advanced knowledge                 4.551258
data platforms                     4.551258
product management                 4.417727
real world                         4.417727
preferred experience               4.417727
understanding experience           4.417727
demonstrated experience            4.417727
considered asset                   4.357102
engineering experience             4.357102
statistical data                   4.357102
data extraction                    4.357102
analytical solutions               4.357102
expert knowledge                   4.357102
knowledge machine learning         4.357102
knowledge machine                  4.357102
ability learn                      4.357102
operations research                4.299944
excellent communication skills     4.299944
python scala                       4.299944
ensure data                        4.299944
data models                        4.299944

In [8]:
df_idf[df_idf.index == "python"]

        idf_weights
python     1.614366

In [9]:
df_idf.sort_values(by=["idf_weights"]).head(35)

               idf_weights
experience        1.056917
data              1.103541
work              1.346771
skills            1.391223
years             1.434573
degree            1.523889
team              1.527355
ability           1.534324
business          1.544869
science           1.573544
development       1.580844
working           1.588197
strong            1.614366
python            1.614366
learning          1.684984
knowledge         1.689057
tools             1.705518
computer          1.718045
management        1.730730
engineering       1.730730
analysis          1.730730
communication     1.752236
sql               1.805820
environment       1.819677
develop           1.833729
design            1.833729
using             1.833729
related           1.838457
machine           1.852777
including         1.862439
new               1.882048
technical         1.897011
understanding     1.902048
solutions         2.014166
software          2.031260

In [4]:
from spacy.matcher import PhraseMatcher

matcher = PhraseMatcher(nlp.vocab)
matcher.add("OBAMA", None, nlp("Barack Obama"))
doc = nlp("Barack Obama lifts America one last time in emotional farewell")
matches = matcher(doc)

NameError: name 'nlp' is not defined